{% extends "base.html" %}{% block content %}
<head>
{% load i18n static%}
<link rel="stylesheet" type="text/css" href="/static/base.css" />
<link rel="stylesheet" type="text/css" href="/static/widgets.css" />
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="/static/core.js"></script>
<script type="text/javascript" src="/static/calendar.js"></script>
<script type="text/javascript" src="/static/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/RelatedObjectLookups.js"></script>
<script src="{% static '/img/calendar-icons.svg' %}"></script>
<stript src="{% static '/img/icon-calendar.svg' %}"></script>
<script src="{% static '/fonts/Roboto-Bold-webfont.woff' %}"></script>


</head>
<h1>Create your meal plan here!
</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ dateform }}
    {% for key, val in checkform.items %}
        <p>
            {{ key }}
            {% for ing, qty in val.items %}
                <li>
                    {{ qty }} {{ ing }}
                </li>
        {% endfor %}
        </p>
    {% endfor %}
    <div class="submit">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>
{% endblock %}