{% extends "base.html" %}

{% block leftnav %}
<form method="post">
    {% csrf_token %}
<div class="row g-4 pt-2" style="background-color:white;">
    <!-- Card Recent Recipes Start -->
    <div class="card border-0">
        <!-- Card header start -->
        <div class="card-header pb-0 border-0" style="background-color:white;">
            {{ dateform }}
        </div>
        <div class="card-body align-self-center">
            <div class="submit">
                <button type="submit" class="btn btn-lg btn-outline-dark" style="--bs-btn-bg: #4682B4; font-family: Arial, Helvetica, sans-serif;">
                    Create Meal Plan!
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block centernav %}
<div class="container-lg align-self-center vstack gap-4">
    <h1>Select your meals for the week:
    </h1>
    {% for key, val in checkform.items %}
    <div class="card">
        <div class="card-header border-0 pb-0 card-header-font" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold;">
                {{ key }}
        </div>
        <div class="card-body" style="font-family: Arial, Helvetica, sans-serif;">
                {% for ing, qty in val.items %}
                <li>
                    {{ qty }} {{ ing }}
                </li>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</form>
{% endblock %}