{% extends "base.html" %}
{% load static %}

        <!-- Left side nav start -->

            {% block leftnav %}
            <div class="row g-4 pt-2">
                <!-- Card Recent Recipes Start -->
                <div class="card">
                    <!-- Card header start -->
                    <div class="card-header pb-0 border-0" style="background-color:white;">
                        <h5 class="card-title mb-0">
                            Recently Added Recipes
                        </h5>
                    </div>
                    <!-- Card body start -->
                    <div class="card-body">
                        {% for recipe in recent_recipes %}
                            <div class="hstack gap-2 mb-3">
                                <div class="overflow-hidden">
                                    <a class="h6 mb-0 recipeLink" href="{{ recipe.source }}">{{ recipe.name }}</a>
                                    <p class="mb-0 small text truncate">
                                        Added by
                                        <a class="userLink" href="{% url 'profile' recipe.author %}">{{ recipe.author }}</a>
                                        on {{ recipe.created_date }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Left nav end -->
        <!-- Center nav start -->
            {% block centernav %}
        <!-- Button to create new MP -->
            <div class="col-lg align-self-center pt-2 container-lg">
                    <a href="{% url 'create_mp' %}" role="button" class="btn btn-primary-bg btn-lg btn-outline-dark d-grid px-5">
                        <h1>Create new meal plan</h1>
                        <h1 style="font-size:6vw">+</h1>
                        <svg width="1em" height="1em" class="md-3">
                    </a>
            </div>

            <!-- Button for each existing meal plan -->
            {% for key, val in MP_Recs.items %}
            <div class="col align-self-center container-lg">
                <a href="{% url 'mp_detail' key.rcid %}" class="btn btn-primary-bg btn-lg btn-outline-dark d-grid gap-2 px-5">
                    <h2>Meal Plan for week of {{ key.created_date }} - {{ key.author }}</h2>
                        {% for item in val %}
                            <li>
                                {{ item.name }}
                            </li>
                        {% endfor %}
                </a>
            </div>
            {% endfor %}
        {% endblock %}
        <!-- Center nav end -->
    </div>
</div>