{% extends "base.html" %}{% block content %}

    <h2>
        {{ displayed_user.username }}<small> Member since {{date_joined}}</small>
    </h2>
    {% comment %}------------------------------------------------------------------------
    Getting followers and followings
    {% endcomment %}
    <h2>
        Followers:
    </h2>
    {% if followers %}
        {% for f in followers %}
            <li>
                {{ f.username }}
            </li>
        {% endfor %}
    {% else %}
        <li>No followers yet
        </li>
    {% endif %}
    <h2>
        Following:
    </h2>
    {% if following %}
        {% for f in following %}
            <li>
                {{ f.username }}
            </li>
        {% endfor %}
    {% else %}
        <li>Not following anyone yet
        </li>
    {% endif %}

    {% comment %}------------------------------------------------------------------------
    {% endcomment %}
    {% if displayed_user != user %}
            {% if follow %}
                <div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ follow_form }}
                        <div class="submit">
                            <button type="submit" class="btn btn-primary btn-lg">Unfollow</button>
                        </div>
                    </form>
                </div>

            {% else %}
                <div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ follow_form }}
                        <div class="submit">
                            <button type="submit" class="btn btn-primary btn-lg">Follow</button>
                        </div>
                    </form>
                </div>

            {% endif %}




    {% endif %}
    {% comment %}
    ---------------------------------------------------------------------------------------
    {% endcomment %}

    <div>    {% comment %}Div for recipes added by user{% endcomment %}
        <h2>
            Recipes added by {{ displayed_user.username }}:
        </h2>
        {% for recipe in user_recipes %}
            <li>
                <a href="{{ recipe.source }}">{{ recipe.name }}</a>, added on {{ recipe.created_date }}
            </li>
        {% endfor %}
    </div>

    {% if displayed_user == user %}
    <div>     {% comment %}Div for adding staple items{% endcomment %}
        <p></p>
        <p><h2>Add staple ingredients here</h2>
            Enter items below and they will show up when you create a grocery list from a meal plan!
        </p>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <p>
                        <h3>Enter Ingredients:</h3>
                    </p>
                    <p>
                        <h3>Ingredient &emsp; &emsp; Qty &emsp; Type</h3>
                    </p>
                    <p>
                        {% for key, val in ingredients_form.items %}
                            <p>{{ val }}</p>
                        {% endfor %}
                    </p>
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary btn-lg">Save Items</button>
                </div>
            </form>
    </div>
    {% endif %}

{% endblock content %}